.hero{
    height: 80vh;
    @media (min-width: 1280px) {
        padding-top: 100px;
    }    
    .hero_content{
        padding-top: 5rem;
        .bigTitle{
            font-weight: 200;
            letter-spacing: 6px;
            font-size: 11rem;
            color: #ffc107;
        }
        .hero_title{
            font-size: 5.8rem;
            font-weight: 800;
            line-height: 1;
        }
        .hero_text{
            font-size: 1.2rem;
        }
    }

    .hero_image{
        width: 100%;
    }

/* -------------------------------------------------------------------------------- */
/* ! media query smartphone */
/* -------------------------------------------------------------------------------- */

    @media (max-width: 768px) {
        .hero_content{
            padding: 30px 10px;
            text-align: center;
            .bigTitle{
                font-size: 6rem;
                color: #ffc107;
            }
            .hero_title{
                font-size: 4rem;
            }
            .hero_text{
                font-size: 1.2rem;
            }
        }

        .hero_image{
        margin-top: 2rem;
        }
    }

}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s linear both;
	        animation: scale-up-center 0.4s linear both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

/* -------------------------------------------------------------------------------- */
/* ! media query tablet */
/* -------------------------------------------------------------------------------- */  

@media (max-width: 1023px) {
    .hero {
        height: 20vh;
    }
}