.feature_img{
    width: 100%;
}

.feature_content{
    text-align: end;
    h2{
        font-size: 55px;
        font-weight: 900;
        line-height: 0.9;
    }
    p{
        font-size: 20px;
    }
}

.feature_box{
    margin-bottom: 7rem;
}

@media (max-width: 768px) {
  .feature_content{
      text-align:center
  }
}
