nav{
    background: #040c18;
    .link > a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        &:hover{
            color: #ffc107;
        }
        &:active{
          color: #ffc107;
        }
    }
    .navbar-brand img{
        height: 70px;
    }
    .icon_social{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
  .navbar-nav{
    text-align: center;
  }
  .navbar-collapse{
      padding-top: 30px;
  }
  .socialIcon{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
  }
}
