ul.icon-tech{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    li{
        margin: 20px;
    }
}

@media (max-width: 768px) {
  ul.icon-tech{
      margin-top: 70px;
      font-size: 30px;
  }
}